<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=CNO-9943L32;User ID=sa;Password=Marykay2016;Initial Catalog=Weibo;Pooling=true</Dbconnectstring>
  <WebDomain>http://www.wangla.website/</WebDomain>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>0</Founderuid>
  <PwdEncodeKey>ABCD1234</PwdEncodeKey>
  <PwdEncodeType>DES</PwdEncodeType>
  <WebTitle>微博</WebTitle>
  <ImgUploadPath>/Upload/Image/</ImgUploadPath>
  <ImgUploadSize>5242880</ImgUploadSize>
  <MusicUploadSize>10485760</MusicUploadSize>
  <MusicUploadPath>/Upload/Music/</MusicUploadPath>
  <ShortLinkDomainName>http://localhost:1111/</ShortLinkDomainName>
  <CookieExpire>7</CookieExpire>
  <CookieDomain>localhost</CookieDomain>
  <StartDate>2016-08-01T00:00:00</StartDate>
  <LogInFile>1</LogInFile>
  <LogInDB>1</LogInDB>
  <LogFilePath>/Log/</LogFilePath>
  <AvartarUploadPath>/Upload/Avartar/</AvartarUploadPath>
</BaseConfigInfo>