<?xml version="1.0"?>
<TypeConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TypeRoot>0</TypeRoot>
  <CityRoot>1</CityRoot>
  <SexRoot>2000</SexRoot>
  <ExpressionRoot>3000</ExpressionRoot>
  <VideoRoot>4000</VideoRoot>
  <VideoYouku>4001</VideoYouku>
  <VideoTudou>4002</VideoTudou>
  <Video56>4003</Video56>
  <VideoKu6>4004</VideoKu6>
  <UrlRoot>4020</UrlRoot>
  <UrlNormal>4021</UrlNormal>
  <UrlVideo>4022</UrlVideo>
  <UrlMusic>4023</UrlMusic>
  <UrlVote>4024</UrlVote>
  <ThemeRoot>4040</ThemeRoot>
  <SexMale>2001</SexMale>
  <SexFemale>2002</SexFemale>
  <NoticeRoot>4060</NoticeRoot>
  <NoticeSys>4061</NoticeSys>
  <NoticeNormal>4062</NoticeNormal>
  <SchoolRoot>4070</SchoolRoot>
  <ComplaintConRoot>4080</ComplaintConRoot>
<ComplaintReasonRoot>4100</ComplaintReasonRoot>
<Complaint_mb>4081</Complaint_mb>
<Complaint_cm>4082</Complaint_cm>
<Complaint_user>4083</Complaint_user>
<Complaint_msg>4084</Complaint_msg>
  <LogRoot>4110</LogRoot>
  <LogError>4111</LogError>
</TypeConfigInfo>