			<div class="bottomLinks @(ViewData["curBorder"]??"")" id="bottomborder">
				<div class="bottombg">
				</div>
				<!-- 899,14,21 2011-07-21 10:54:34-->
				<div class="bL_List">
					<div class="bL_info bL_io1">
						<h4 class="MIB_txtar">
							广告位</h4>
						<ul>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a> <a href="http://weibo.com/339238080">
								广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
						</ul>
					</div>
					<div class="bL_info bL_io2">
						<h4 class="MIB_txtar">
							广告位</h4>
						<ul>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
						</ul>
					</div>
					<div class="bL_info bL_io3">
						<h4 class="MIB_txtar">
							广告位</h4>
						<ul>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">
								广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a> <a href="http://weibo.com/339238080">
								广告位</a></li>
						</ul>
					</div>
					<div class="bL_info bL_io4">
						<h4 class="MIB_txtar">
							广告位</h4>
						<ul>
							<li class="MIB_linkar"><a target="_blank" href="http://weibo.com/339238080">广告位</a></li>
							<li class="MIB_linkar"><a target="_blank" href="http://weibo.com/339238080">广告位</a></li>
							<li class="MIB_linkar"><a target="_blank" href="http://weibo.com/339238080">
								广告位</a></li>
						</ul>
					</div>
					<div class="bL_info bL_io5">
						<h4 class="MIB_txtar">
							广告位</h4>
						<ul>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位？</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a> <a
								href="http://weibo.com/339238080">广告位</a> <a href="http://weibo.com/339238080">
									广告位</a></li>
							<li class="MIB_linkar"><a href="http://weibo.com/339238080">广告位</a></li>
						</ul>
					</div>
					<div class="bL_line">
					</div>
				</div>
				<div class="MIB_foot_new MIB_txtbr MIB_linkbr">
					<div class="lf">
						<p class="p1">
                            QQ:542752480
						</p>
					</div>
					<div class="rt copy2011">
						<p>
                        dev by shaojunjie
						</p>

					</div>
					<div class="clearit">
					</div>
				</div>
			</div>