 <div class="userinfo">

                                <div class="user_atten MIB_linedot">
                                    <ul id="profile_following_follower_update">
                                        <li class="MIB_line_r" id="pop_2">
                                            <div pop="true" class="num">
                                                <a id="attentions" href="/@Model.OtherUser.ID/Follow">@Model.OtherUser.FocusCount</a></div>
                                            <a href="/@Model.OtherUser.ID/Follow">关注</a></li>
                                        <li class="MIB_line_r">
                                            <div class="num">
                                                <a id="myfans" href="/@Model.OtherUser.ID/Fan">@Model.OtherUser.FocusedCount</a></div>
                                            <a href="/@Model.OtherUser.ID/Fan">粉丝</a></li>
                                        <li class="">
                                            <div class="num">
                                                <a id="mblog" href="/@Model.OtherUser.ID/">@Model.OtherUser.MiniBlogCount</a></div>
                                            <a href="/@Model.OtherUser.ID/">微博</a></li>
                                    </ul>
                                </div>

                                       

                            </div>